$grey-900: #414141;
$grey-500: #6b6b6b;
$grey-300: #ececec;
$grey-100: #f9f9f9;

$primary: #34747f;
$primary-light: #3192a3;
$white: #ffffff;

$error: #C71F3C;

// gradients
$light-gradient: linear-gradient(63deg, #ffffff 33.33%, #d6d6d6 100%);
$grey-gradient-1: linear-gradient(101deg, #414141 0%, #7b7772 61.91%, #b4b4b4 131.71%); // box shadow
$grey-gradient-2: linear-gradient(97deg, #414141 0%, #656565 43.82%, #b9b9b9 94.44%);
$grey-gradient-3: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(189, 189, 189, 0.8) 100%);
$blue-gradient: linear-gradient(97deg, #34747f 0%, #51686c 43.82%, #2b3c3e 94.44%);
