@use './colors';

.isLoading {
	height: 100vh;
}

p {
	margin-bottom: 0;
}

.container-box {
	padding: 2rem;
	background-color: colors.$grey-100;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 2.6rem;

	&__error {
		display: inline-block;
		width: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.section {
	margin-top: 2.3rem;
}

.search-box__input,
.react-datepicker__input-container input {
	border: none;
	background: transparent;
}

.search-box,
.input {
	display: flex;
	gap: 0.5rem;
}

.search-box,
.input,
.select__control,
.date-picker {
	padding: 0.9rem 1.3rem;
	border-radius: 8px !important;
	border: 1px solid colors.$grey-900 !important;
	background: transparent;
	cursor: pointer;
	color: colors.$grey-900 !important;
	transition: border-color 0.3s ease-in-out;
}

.search-box {
	&:focus {
		border-color: colors.$primary-light !important;
	}
}

.search-box,
.input,
.select__control,
.date-picker {
	&:hover {
		border-color: colors.$primary-light !important;
	}
}

.search-box__input,
.input {
	&::placeholder {
		opacity: 0.75;
	}

	&:focus-visible {
		border-color: colors.$primary-light;
	}

	&:focus {
		outline: none;
		caret-color: colors.$primary-light;
	}
}

.input-error,
.date-picker-error {
	border-color: colors.$error !important;
}

.input-error__text,
.date-picker-error--text {
	color: colors.$error;
	font-size: 1.4rem;
}

.form__input-box--double-input {
	.input-error__text {
		display: inline-block;
		margin-top: 1.1rem;
	}
}

.border-bottom {
	border-bottom: 1px solid rgba(52, 116, 127, 0.2) !important;
}

@media screen and (min-width: 768px) {
	.section {
		margin-top: 3.6rem;
	}
}

@media screen and (min-width: 992px) {
	.section {
		margin-top: 7rem;
	}
}
